@page
@model countrybitweb.Pages.ColorPartyModel
@{
    ViewData["Title"] = "Color Party";
}
<h1>@ViewData["Title"]</h1>

<a style="font-size:20px; color:darkgreen;" href="ms-windows-store://pdp/?productid=9PP1DQXGWG0N">See in the Microsoft Store</a>
<p></p>

<h3>Fun to play with</h3>
<p>
    Color Party makes light shows out of how people move.  It uses one or more
    web cams on your PC and pulls in the pictures and decorates them as subjects 
    move.  This happens just on the PC, so your kids won't wind up in some other 
    kinds of videos.
</p>

<h3>How to use Color Party</h3>
<p>
    Color Party is a kind of thing where you have a camera, a PC with either a projector
    or a big screen.  It's a communal kind of thing, where people are all on the 
    screen together interacting with colors.
</p>

<h3>When Color Party is Great</h3>
<p>
    Color Party is great for outdoor parties, with a webcam collected to a PC and a projector on a big screen outside.
    If you've got people over, set up out back and send the kids out.  For in the house,
    the family big screen can get kids moving and playing with each other.  It's a bringing people 
    together kind of fun.
</p>

<h3>Handcrafted, Small and Fast</h3>
<p>
    Color Party was written in powerful C++ directly to the Windows operating 
    system. It can run on just about any PC.
</p>

<h3>Where to Buy</h3>
<p>
    Color Party is sold through the Microsoft Store. We give Microsoft a slice, 
    and they provide security and shopping services to keep your transactions safe and accessible.
</p>

<h3>About the Author</h3>
<p>
    Color Party was written by Todd Bandrowsky, of Bowling Green, KY.
</p>

<h3>Screen Shots</h3>
<img src="images/colorparty/colorparty1.png"/>
<div style="height:16px"> </div>
<img src="images/colorparty/colorparty2.png" />
<div style="height:16px"> </div>
<img src="images/colorparty/colorparty3.png" />
<div style="height:16px"> </div>
<img src="images/colorparty/screencap1release1.png" />
<div style="height:16px"> </div>
<img src="images/colorparty/screencap2release1.png" />
