@page
@model countrybitweb.Pages.CoronaModel
@{
    ViewData["Title"] = "Corona";
}
<h1>@ViewData["Title"]</h1>

<h3>Better, faster and less expensive apps in C++ for Windows</h3>
<p>
    Corona is our technology for Windows we use to build applications.
    Corona has the full stack - its own database and service engine, and a UX.
</p>

<h3>How to use Corona</h3>
<p>
    Need a quick web service API?  Just download Corona and enter the schema, and start.  
    A Corona schema defines your data, which, Corona uses to construct your API. Then you can use with 
    any client, or you can use our Corona windows client.
</p>

<h3>When Corona is Great</h3>
<p>
    If you need the fastest possible platform in C++ for Windows, Corona is the best.  It has a database and web service 
    integration layer, and a forms engine that has a lot of the bells and whistles of WinUI, but also has a hot 
    reload that doesn't suck, the most customizable window frame of anyone, an items view that is designed for polymorphic collections,
    and easy command objects to put together UXs quickly, and finally, validation.
</p>

<h3>Handcrafted, Small and Fast</h3>
<p>
    Corona was written in powerful C++ directly to the Windows operating
    system. It can run on just about any PC.  Primarily in C++20.
</p>

<h3>Documentation</h3>
<p>
<a href="downloads/corona_quickstart.pdf">Quick Start of Corona Database</a>
</p>
<p>
<a href="downloads/corona_manual.pdf">Corona Manual</a>
</p>
<h3>Where to Buy</h3>
<p>
    Corona is free.  The ongoing development, which I'm doing, is in github.
    <a href="https://github.com/tbandrowsky/corona/tree/master">Corona Project Repo</a>
</p>

<h3>About the Author</h3>
<p>
    Corona was written by Todd Bandrowsky, of Bowling Green, KY.
</p>


