@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Country Video Games and Tools</h1>
    <h2>Software for the Microsoft Store</h2>
    <h2>Custom Application Development</h2>

    <div>        
    <img width="350" src="images/colorparty/screencap2release1.png" />
    <img width="350" src="images/patriarch/patriarch.png" />
    <img width="350" src="images/politicsdx/politicsdx.png" />
    </div>
</div>



