@page
@model IndexModel
@{
    // SEO data is set in the code-behind
}

@section MetaTags {
    @if (ViewData["StructuredData"] != null)
    {
        <script type="application/ld+json">
            @Html.Raw(ViewData["StructuredData"])
        </script>
    }
    else
    {
        <script type="application/ld+json">
        {
            "context": "https://schema.org",
            "type": "WebSite",
            "name": "Country Video Games",
            "url": "@(Request.Scheme)://@(Request.Host)",
            "description": "@ViewData["Description"]"
        }
        </script>
    }
}

<div class="text-center">
    <h1 class="display-4">Country Video Games and Tools</h1>

    <h2>Applications for the Microsoft Store</h2>

    <div>        
    <img width="350" src="images/colorparty/screencap2release1.png" />
    <img width="350" src="images/patriarch/patriarch.png" />
    <img width="350" src="images/politicsdx/politicsdx.png" />
    </div>

    <h2>No one builds software quite the way to do.</h2>

</div>





