@page
@model countrybitweb.Pages.PatriarchModel
@{
    ViewData["Title"] = "Patriarch";
}
<h1>@ViewData["Title"]</h1>

<h3>Track everything to manage your tribe</h3>
<p>
    You can be a good man and a good heart but you still need to be the light for your tribe.
    Patriarch can help you be a man well remembered by family and country.      
    Patriarch is a local database application that lets you track all your important personal family
    matters, privately and on your PC.  Keep appointments, projects, and more all on track.  Keep reminders
    for family favorites and friends. 
</p>

<h3>How to use Patriarch</h3>
<p>
    Some people might just want to use the appointments and todo lists to keep track of projects, but others 
    might want to put in all their warranty and model information for their vehicles and important appliances 
    and electronics.
</p>

<h3>When Patriarch is Great</h3>
<p>
    Patriarch helps gather all the things about a tribe under one roof so you can manage it.  If you want to 
    stay on top of your family, friends and things, then Patriarch can be quite capable and only more so.  
    Incredible database engine, provocative UX technology, smaller than any other application and faster than most, 
    Patriarch is for the discriminating man who really wants to be a successful Patriarch.
</p>

<h3>Handcrafted, Small and Fast</h3>
<p>
    Patriarch was written in powerful C++ directly to the Windows operating
    system. It can run on just about any PC.
</p>

<h3>Where to Buy</h3>
<p>
    Patriarch is undergoing evaluation for sale in the Microsoft Store and will be available soon. We give Microsoft a slice,
    and they provide security and shopping services to keep your transactions safe and accessible.
</p>

<h3>About the Author</h3>
<p>
    Patriarch was written by Todd Bandrowsky, of Bowling Green, KY.
</p>

<h3>Screen Shots</h3>
<img src="images/patriarch/patriarch1.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch2.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch3.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch4.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch5.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch6.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch7.png" />
<div style="height:16px"> </div>
<img src="images/patriarch/patriarch.png" />
