@page
@model countrybitweb.Pages.PoliticsDxModel
@{
    ViewData["Title"] = "PoliticsDx";
}
<h1>@ViewData["Title"]</h1>

<a style="font-size:20px; color:darkgreen;" href="https://apps.microsoft.com/store/detail/9N3D3WCFDGQD?cid=DevShareMCLPCS">See in the Microsoft Store</a>
<p></p>

<h3>Explore the political world</h3>
<p>
    PoliticsDx lets you search the entire US election database, locally on your machine.
    You can search for candidates and donors and committees.
</p>

<h3>How to use PoliticsDx</h3>
<p>
    PoliticsDx is a big download from the Microsoft Store, but once its installed, its done.
    Launch PoliticsDx and then put in your names, streets, cities, employers and more.
    PoliticsDx will search through everything to give you the answers that you need.
</p>

<h3>When PoliticsDx is Great</h3>
<p>
    PoliticsDx lets you follow the money. Expose hypocrisy, prove loyalty, and be hero.
    Go beyond talking points by finding out who is supporting some of "these" candidates. Check to see how faithful people online are to the cause by checking their donations. 
    Worried that a potential manager might be a political opponent?  Check before you sign.  Look for patterns of support, 
    and see what candidates are beholden to what industry.  </p>
 <p>Find out if your allies are 
    who they say are.  Checking their donations.  If you are outside the USA, you can 
    find out if your trading partner in America supports your country and people by virtue of 
    who he politically supports.
</p>

<h3>Full Stack in an App</h3>
<p>
    PoliticsDx compresses a giant database and search and presentation stack into a single application.  PoliticsDx was written in powerful C++ directly to the Windows operating
    system. Fast and tiny, PoliticsDx can run on just about any PC.
</p>

<h3>Where to Buy</h3>
<p>
    PoliticsDx is sold through the Microsoft Store. We give Microsoft a slice,
    and they provide security and shopping services to keep your transactions safe and accessible.
</p>

<h3>About the Author</h3>
<p>
    PoliticsDx was written by Todd Bandrowsky, of Bowling Green, KY.
</p>

<h3>Screen Shots</h3>
<img src="images/politicsdx/politicsdx.png" />
<div style="height:16px"> </div>
<img src="images/politicsdx/politicsdx2.png" />
<div style="height:16px"> </div>
<img src="images/politicsdx/politicsdx3.png" />
